MONGO_DB_URL=mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000&appName=ckd-dex
NODE_ENV=developement
PORT=3000
CKD_DEX_SCRIPT_CODE_HASH=
CKB_DEX_SCRIPT_HASH_TYPE=
CKB_DEX_SCRIPT_ARGS=
CKB_RPC_URL=